@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  /* fonts */
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;
  /* Primary */
  --color-orange: hsl(26, 100%, 55%);
  --color-Pale-orange: hsl(25, 100%, 94%);
  /* Neutral */
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  /* Gradient */
  --color-very-light-gray: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

@layer base {
  html,
  body {
    @apply h-full font-kumbh-sans;
  }

  body {
    @apply md:w-[610px] lg:w-[900px] xl:w-[1200px]  md:m-auto;
  }
}

@layer components {
  #root {
    @apply h-full;
  }
}

/*Swipers styles*/

.swiper-pagination-bullet-active {
  background: white !important;
}

@media (max-width: 1024px) {
  .swiper-thumbs {
    display: none !important;
  }
}

.swiper-thumbs > .swiper-wrapper > .swiper-slide {
  width: 120px !important;
}

.swiper-slide-thumb-active > img {
  opacity: 0.5 !important;
  border: 3px solid hsl(26, 100%, 55%) !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #eeeeeeb9 !important;
  width: 50px !important;
  padding: 20px !important;
  color: white !important;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #eeeeee !important;
    color: black !important;
  }

  @media (min-width: 768px) {
    display: none !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: bold !important;
  line-height: 0 !important;
}
/*  */
