/* font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
/*  */

/* Syncfusion */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-popups/styles/material.css';

.e-indicator-bars {
  display: none !important;
}

.e-btn {
  background: white !important;
}

.e-btn-icon {
  color: black !important;
}
/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
  }
}

@layer utilities {
  .border-nav {
    border-bottom: 1px solid rgb(209, 203, 203);
  }
}
