@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import 'tailwindcss';

@theme {
  /* fonts */
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;
  /* Primary */
  --color-orange: rgb(255, 125, 26);
  --color-Pale-orange: hsl(25, 100%, 94%);
  /* Neutral */
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  /* Gradient */
  --color-very-light-gray: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-backgroundProgress: linear-gradient(
    135deg,
    rgba(131, 131, 230, 1) 0%,
    rgba(131, 131, 230, 1) 8%,
    rgba(243, 158, 83, 1) 29%,
    rgba(251, 115, 4, 1) 52%,
    rgba(245, 119, 15, 1) 70%,
    rgba(255, 200, 20, 1) 77%,
    rgba(255, 200, 20, 1) 100%
  );
  /* box-shadow */
  --shadow-Modal: 0px 3px 9px 0px rgba(0, 0, 0, 0.73);
}

@layer base {
  html,
  body {
    @apply h-full font-kumbh-sans;
  }

  body {
    @apply md:w-[610px] lg:w-[900px] xl:w-[1200px]  md:m-auto;
  }
}

@layer components {
  #root {
    @apply h-full;
  }
}

/*Swipers styles*/

.swiper-pagination-bullet-active {
  background: white !important;
}

@media (max-width: 1024px) {
  .swiper-thumbs {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .swiper-pagination {
    display: none !important;
  }
}

.swiper-thumbs > .swiper-wrapper > .swiper-slide {
  width: 120px !important;
}

.swiper-slide-thumb-active > img {
  opacity: 0.5 !important;
  border: 3px solid hsl(26, 100%, 55%) !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #eeeeeeb9 !important;
  width: 50px !important;
  padding: 20px !important;
  color: white !important;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #eeeeee !important;
    color: black !important;
  }

  @media (min-width: 768px) {
    display: none !important;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: bold !important;
  line-height: 0 !important;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: hsl(54, 94%, 51%);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: hsla(59, 94%, 51%, 0.849);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/*  */
